<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="MysqlConnection" connectionString="Data Source=localhost;Initial Catalog=torque_calibrator;Persist Security Info=True;User ID=root;Password=root" providerName="System.Data.SqlClient" />
    <add name="MESMysqlConnection" connectionString="Data Source=localhost;Initial Catalog=imos_ts;Persist Security Info=True;User ID=root;Password=root" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    
    <!--id卡串口信息-->
    <add key="IDCardSerialPortName" value="COM3" />
    <add key="IDCardSerialBaudRate" value="9600" />
    <!--扫码枪串口信息-->
    <add key="ScanSerialPortName" value="COM2" />
    <add key="ScanSerialBaudRate" value="115200" />
    <!--校验仪串口信息-->
    <add key="InstrumentSerialPortName" value="COM4" />
    <add key="InstrumentSerialBaudRate" value="9600" />
    
    <!--打印信息-->
    <add key="excelPath" value="\报告模版\模版.xlsx" />
    <!--printMode : print,直接打印(会调用默认打印机);preview,打开打印预览,需要手动点击打印-->
    <add key="printMode" value="print" />

    <!--PLC信息-->
    <add key="S7IpAdress" value="192.168.30.230" />
    <add key="TestReadyStartAddress" value="DB1.0.0" />
    <add key="TestReadyFinishAddress" value="DB1.0.1" />
    <add key="TestStartAddress" value="DB1.0.2" />
    <add key="TestEndAddress" value="DB1.0.3" />
    <add key="TestModeAddress" value="DB1.2.0" />
    <add key="CollectorSelectAddress" value="DB1.6.0" />
    <add key="MotorStartVAddress" value="DB1.14.0" />
    <add key="MotorStartVSpeedAddress" value="DB1.16.0" />
    <add key="MotorStopAddress" value="DB1.30.1" />
    <add key="MotorStopFinishAddress" value="DB1.30.2" />
    <add key="MotorToZeroAddress" value="DB1.30.3" />
    <add key="MotorToZeroSpeedAddress" value="DB1.32.0" />
    <add key="MotorToZeroFinishAddress" value="DB1.36.0" />
    <add key="PowerOnInitStatusAddress" value="DB1.42.0" />
    <add key="TestProcessResultAddress" value="DB1.48.0" />
    <add key="MotorVChangeAddress" value="DB1.52.0" />
    <add key="PowerOnInitStatus" value="DB1.42.0" />
    <!--条码与类型码位数关系,前numIndex位-->
    <add key="numIndex" value="5" />

    <!--所在工位编码-->
    <add key="CellCode" value="0020" />

    <!--选择传感器，值为分界线-->
    <add key="ChoseSensor" value="25" />
    <!--选择切换速度分界线，value代表相差的扭矩值-->
    <add key="ChangeSpeed" value="10" />
    
    <!--速度模式下的速度设置-->
    <add key="shuxianSpeedFast" value="-0.2" />
    <add key="shuxianSpeedSlow" value="-0.01" />
    <add key="kataSpeed" value="-2" />
    <add key="ToZeroSpeed" value="5" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
